.insta-gallery__box {
  padding-bottom: 100px;
}

.insta-gallery__line {
  flex-direction: row;
  justify-content: center;
  padding-bottom: 46px;
}

.insta-gallery__line img{
    margin-right: 10px;
}

.insta-gallery__line :nth-child(1){
    margin-left: 10px;
}

 .insta-gallery__line2 {
   justify-content: center;
 }
