

.card {
  justify-content: space-between;
}

.card:not(:last-child) {
  margin-bottom: 100px;
}

.card:nth-child(2n-1) {
  flex-direction: row-reverse;
}

.card__image img {
  width: 100%;
}

.card__title {
  position: relative;
  font-size: 48px;
  line-height: 1;
  text-align: left;
  font-weight: bold;
  margin: 0 0 60px 0;
}

.card__title span {
  display: block;
  font-size: 30px;
  line-height: 1;
  text-align: left;
  font-weight: 300;
  margin: 0;
}

.card__title::after {
  content: "";
  position: absolute;
  bottom: -29px;
  left: 0;
  height: 2px;
  width: 55px;
  background-color: #000000;
}

.card__text {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #656565;
  margin-bottom: 45px;
}





