.hero {
    height: 520px;
    background-color: #ffe1bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__title {
    position: relative;
    font-size: 48px;
    margin-bottom: 56px;
    line-height : 1;
}

.hero__title::after {
    content: "";
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 55px;
    background-color: #000000;
}

.hero__text {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 25px;
    margin: 0px 0px 80px 0px;
}




